# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
local_settings.py
staticfiles/
media/

# Env files
.env
.env.*

# Logs
*.log

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/