# ================================
# CONFIGURAÇÕES DJANGO PRODUÇÃO
# ================================

DJANGO_SECRET_KEY=trocar-por-chave-segura
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Banco de dados será fornecido automaticamente pelo Railway
# Exemplo:
# DATABASE_URL=postgres://user:password@host:port/database
